<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>eMY9vsppQZkUQTIRp5xOAA8zB1NzOtZp5JQ1+IZvcbY8yenisq2CS+n3zVgtWCxLE/R4cqzLMuyVvXqxUe1HasOZB+RTQs/biATCSSerjFxXgl19+Gg3QqnLZdF3bSu4pWo7d0r3mPn/ylFC0Lqzq4TKF/0JdafNFDiUkPPTfIE=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>6I9ZP/L5uXmafzYJGbxJUIxZcDjLWYIH</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>NrsAYoPv8n+QHcXfTAEubrVg1ddK/XFQzl5UyFrp2DJlnqSJ0V2XTsQotO9cPt2dIWm7MIjWIqUejCWhUNsHDgK60+G7Mkk6MimUFSxQ1zYmYYF8rKJJs934Tzuamsux/MFgTWRRF58nebd95c9dbGg9AHy5R/5Oa6Xiz50eMjk=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>uBe1Su0aczK8/Hfpym1ZZDYmscUIbeYBOM7p4LQDT+w=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>